<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinetyari.readablereddit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ReadableRedditApp"
        android:allowBackup="true"
        android:icon="@drawable/drawer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DisplayPostActivity"
            android:label="@string/title_activity_display_post"
            android:parentActivityName=".activity.ListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListActivity" />
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".activity.ListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onlinetyari.readablereddit.activity.ListActivity" />
        </activity>
        <activity
            android:name=".activity.GifActivity"
            android:label="@string/title_activity_gif"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DisplayCommentsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_display_comments"
            android:parentActivityName=".activity.ListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onlinetyari.readablereddit.activity.ListActivity" />
        </activity>
    </application>

</manifest>
